# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data science
* List of commonly used libraries for data science
* some basic python operations
* Creating a table in jupyter notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow
4. ggplot


| Data_Science_Tools |
|------------------|
|Jupyter lab|
|IBM Watson|
|Anaconda|
|apache spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

mins = 200
hours = mins/60
print(hours)

3.3333333333333335

## Author
Gurudatta